@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --Gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
    font-size: 14px;
}

* {
    font-family: 'Raleway', sans-serif;
    color: var(--PaleBlue);
}

p {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--VeryDarkBlue);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 18%;
}

.component {
    height: 200px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.item-left {
    box-sizing: border-box;
    background-color: var(--DarkBlue);
    height: 100%;
    flex-basis: 38%;
    border-radius: 10px 100px 10px 10px;
    padding: 42px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.left-options {
    display: flex;
    gap: 16px;
}

.option {
    background-color: var(--VeryDarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 48px;
    width: 48px;
}

.item-right {
    background-color: var(--DarkBlue);
    padding: 42px;
    height: 78%;
    flex-basis: 59%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bottom-container {
    margin-top: 16px;
}

.storage-bar {
    height: 20px;
    border-radius: 10px;
    background-color: hsla(229, 57%, 11%, 0.548);
    display: flex;
    padding: 3px;
    box-sizing: border-box;
}

.storage-bar-fill {
    flex-basis: 80.5%;
    box-sizing: border-box;
    border-radius: inherit;
    display: flex;
    flex-direction: row-reverse;
    background: var(--Gradient);
    align-items: center;
}

.white-circle {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.start-end-container {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.start-end-container>strong {
    font-size: 0.9rem;
}

.tooltip {
    height: 90px;
    width: 180px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: -44px;
    margin-right: 42px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.triangle {
    /* height: 100%; */
    border: white solid 45px;
    border-top-right-radius: 10px;
    border-bottom: 45px solid transparent;
    border-left: 45px solid transparent;
    /* width: 20%; */
}

.rectangle {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.rectangle>h1 {
    color: var(--VeryDarkBlue);
    font-weight: 700;
    font-size: 3rem;
    margin: 0xp;
}

.rectangle>span {
    color: var(--VeryDarkBlue);
    font-size: 0.8rem;
}

.mobile-tooltip {
    display: none;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 7%;
    }
}

@media screen and (max-width: 660px) {
    .tooltip {
        display: none;
    }
    .component {
        height: auto;
        flex-basis: 100%;
        gap: 20px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .item-left {
        width: 100%;
        min-height: 200px;
    }
    .mobile-tooltip {
        background-color: white;
        border-radius: 10px;
        position: absolute;
        margin-bottom: -30px;
        height: 60px;
        width: 50%;
        left: 25%;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
    .mobile-tooltip>h1 {
        color: var(--VeryDarkBlue);
        font-weight: 700;
        font-size: 3rem;
        margin: 0xp;
    }
    .mobile-tooltip>span {
        color: var(--VeryDarkBlue);
        font-size: 0.8rem;
    }
}
