body {
    background: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: hsl(229, 57%, 11%);;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.top {
    background-color:  hsl(228, 56%, 26%);
    width: 10%;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 150px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.top>div{
    margin: 20px;
}

.smallLogos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    padding-left: 25px;
}

.smallLogos>div {
    background-color: hsl(229, 57%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.bottom{
    background-color:  hsl(228, 56%, 26%);
    width: 30%;
    border-radius: 10px;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}


h1 {
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to left, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 60%);
    outline: none;
    opacity: 1;
  }

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }

.bottomDown {
    display: flex;
    flex-flow: row;
}

.bottomLeft {
    margin-right: 40%;
}

.bottomRight {
    margin-left: 40%;
}